---
const expertise = [
  "Leading user-centred design teams",
  "Comprehensive service design from discovery to delivery",
  "Senior stakeholder engagement and alignment",
  "Workshop design, facilitation, and ideation",
  "Concept creation, sketching and prototyping",
  "Interaction design with a focus on simplicity and clarity",
  "Accessibility and inclusive design best practices",
  "Design system creation and adoption advocacy",
  "Information architecture and content structuring",
  "UX documentation: including user stories, journey mapping, site maps, wireframes",
  "Mentoring and upskilling UX teams",
  "Agile methodologies",
  "Government Digital Service (GDS) alignment and assessment (successfully passed 3 service assessments)",
  "Efficient and collaborative UX workflow and design process optimisation",
  "Project scoping, costing, and planning"
];
---

<ul class="list-disc pl-5 space-y-2">
  {expertise.map(item => (
    <li class="text-lg text-gray-600 pl-2 marker:text-gray-400">{item}</li>
  ))}
</ul>